.btn{
    height: 34px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background: #00bcd4;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;

    &:hover{
        color: #00acc1;
        background:transparent;
        border: 1px solid #00acc1;
        transition: .5s;
    }
}